{% extends 'base.html' %}
{% block 'title' %} Home {% endblock %}
{% block 'header' %} {% endblock %}
{% block 'extraStatic' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}
{% block 'content' %}
    <div class="imgInfo">
        <div class="form-group">
            <textarea readonly name="description" rows="4" cols="26">{{image.description}}</textarea>
        </div>
        <div class="other">
            <p>🏷️{{image.title}}</p>
            <p>📅{{image.date}}</p>
            <p>
                {% if image.p_photo %}
                    <img src="/media/{{image.p_photo}}">
                {% else %}
                    <img src="/media/Default.jpg">
                {% endif %} 
                {{image.user__username}}
            </p>
            <p>👀{{image.view_count}}</p>
        </div>
    </div>
    <form action="get">
        <img class="mainImage" src="/media/{{image.image}}"/>
    </form>
    <br>
    <div class="content">
        <form class="btn" method="post" action="{% url 'public_profile' image.user__username %}">
            {% csrf_token %}
            <button class="btn btn-primary" id="btn">{{image.user__username}} profile</button>
        </form>
    </div>
{% endblock %}
