{% extends 'base.html' %}
{% block 'title' %} Home {% endblock %}
{% block 'header' %} {% endblock %}
{% block 'extraStatic' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}
{% block 'content' %}
    <form action="get">
        <img class="mainImage" src="/media/{{image.image}}"/>
    </form>
    <br>
    <form method="post" action="{% url 'public_profile' image.user__username %}">
        {% csrf_token %}
        <button class="btn btn-primary" id="btn">{{image.user__username}} profile</button>
    </form>
    {% if image.user__id == user.id %}
        <br>
        <form method="post" action="{% url 'set_profile_photo' %}">
            {% csrf_token %}
            <input name="imageId" type="hidden" value="{{image.id}}">
            <button type="submit" class="btn btn-primary"  id="btn">Set as profile photo</button>
        </form>
    {% endif %}
{% endblock %}