{% extends 'base.html' %}
{% block 'title' %} Home {% endblock %}
{% block 'header' %} All public images from all users {% endblock %}
{% block 'content' %}
<div class="mainContainer">
    <form action="get">
        {% for item in images %}
        <div class="imageCard">
            <div class="imageContainer">
                <img src="/media/{{item.image}}"/>
            </div>
            <h5 class="imageCardText">Owner: {{item.user__username}}</h5>
            <h5 class="imageCardText">Date: {{item.date}}</h5>
        </div>
        {% endfor %}
    </form>
    
</div>
{% endblock %}