{% extends 'base.html' %}
{% block 'title' %} Profile {% endblock %}
{% block 'header' %}Profile{% endblock %}
{% block 'upload' %}
    <form action="{% url 'profile' %}">
        <button class="button upload">Upload image</button>
    </form>
{% endblock %}
{% block 'content' %}
<div class="mainContainer">
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $.ajax({
                    type: 'GET',
                    url: "{% url 'get_profile_images' %}",
                    success: function(response){
                        console.log(response.images)
                        $(".mainContainer").empty();
                        for (var key in response.images){
                            var temp = '<div class="imageCard"><div class="imageContainer">'+"<img src=/media/"+response.images[key].image+"/>"+'</div></div>'
                            $(".mainContainer").append(temp);
                        }
                    },
                    error: function(response){
                        alert("Error!")
                    }
                });
            }, 1);
    });
    </script>
</div>
{% endblock %}