{% extends 'base.html' %}
{% block 'title' %} Profile {% endblock %}
{% block 'header' %}Profile{% endblock %}
{% block 'extraStatic' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block 'content' %}
{% include "messages.html" %}
<div class="profileParent">
    <div class="profileChild" id="one">
        {% if profile.photo.image.url%}
            <img class="profilePhoto" src="{{profile.photo.image.url}}">
        {% else %}
            <img class="profilePhoto" src="/media/important/Default.jpg">
        {% endif %}
        <br>
        <div class="profileInfo">
            <h5 class="detail">Space used: {{images_size}}/{{profile.plan.space_limit}} MB</h5>
            <h5 class="detail">Images used: {{images_count}}/{{profile.plan.image_limit}}</h5>
            <h5 class="detail">Current plan: {{profile.plan.name}}</h5>
        </div>
    </div>
    <div class="profileChild" id="two">
        <div class="imagesNavBar">
            <form action="{% url 'upload_img' %}">
                <button class="btn-group">Upload image</button>
            </form>
        </div>
        {% include "search_bar.html" %}
        <div class="mainContainer">
            {% if images %}
                {% for item in images %}
                    <div class="imageCard" onclick="location.href='../image/{{item.image}}';">
                        <form action="get">
                            <div class="imageContainer">
                                <img src="/media/{{item.image}}"/>
                            </div>
                            {% if item.is_private %}
                                <p>🔒Private</p>
                            {% else %}
                                <p>🔓Public</p>
                            {% endif %}
                            <p>🏷️{{item.title}}</p>
                            <p>📅{{item.date}}</p>
                        </form>
                        <div style="display: flex;">
                            <form class="imgBtn" method="post" action="{% url 'profile' %}">
                                {% csrf_token %}
                                <input name="setProfileImageName" type="hidden" value="{{item.image}}">
                                <button type="submit" class="btn btn-primary"  id="btn">Set as profile</button>
                            </form>
                            <form class="imgBtn" class="btn" action="{% url 'edit_image' item.image %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary"  id="btn">Edit</button>
                            </form>
                            <form class="imgBtn" method="post" class="btn" action="{% url 'profile' %}">
                                {% csrf_token %}
                                <input name="deleteImageName" type="hidden" value="{{item.image}}">
                                <button type="submit" class="btn btn-primary"  id="btn">Delete</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="noImagesText">No Images Found</h1>
            {% endif %}
        </div>
        <br>
        {% if images.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-center">
                {% for i in images.paginator.page_range %}
                    {% if images.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{ i }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}