{% extends 'base.html' %}
{% block 'title' %} Profile {% endblock %}
{% block 'header' %}Profile{% endblock %}
{% block 'content' %}
<div style="display: flex;">
    <div style="flex: 1;">
        <img src="{{profile.photo.image.url}}" alt="" style="display: block; margin: auto; width: 50%; border-radius: 100%;">
        <br>
        <div style="display: grid;">
            <h5 style="display: block; margin: auto;">Space used: {{details.images_size}}/{{profile.plan.space_limit}} MB</h5>
            <h5 style="display: block; margin: auto;">Images used: {{details.images_count}}/{{profile.plan.image_limit}}</h5>
            <h5 style="display: block; margin: auto;">Current plan: {{profile.plan.name}}</h5>
        </div>
    </div>
    <div style="flex: 1; border-left: 5px solid;" >
        <div style="display: flex;">
            <form action="{% url 'upload_img' %}" style="display: block; margin: auto;">
                <button class="button upload">Upload image</button>
            </form>
        </div>
        <div class="mainContainer" style="max-width: 100%;">
            {% for item in images %}
            <form action="get">
                <div class="imageCard" onclick="location.href='../image/{{item.image}}';">
                    <div class="imageContainer">
                        <img src="/media/{{item.image}}"/>
                    </div>
                    {% if item.is_private %}
                        <p>Private</p>
                    {% else %}
                        <p>Public</p>
                    {% endif %}
                    <p>Date: {{item.date}}</p>
                </div>
            </form>
            {% endfor %}
        </div>
        {% if images.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-center">
                {% for i in images.paginator.page_range %}
                    {% if images.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{ i }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}