{% extends 'base.html' %}
{% block 'title' %} Public Profile {% endblock %}
{% block 'header' %}request.user.name Profile {% endblock %}
{% block 'upload' %}
    <form action="{% url 'upload_img' %}">
        <button class="button upload">Upload image</button>
    </form>
{% endblock %}
{% block 'content' %}
<div class="mainContainer">
    {% for item in images %}
    <form action="get">
        <div class="imageCard" onclick="location.href='../image/{{item.image}}';">
            <div class="imageContainer">
                <img src="/media/{{item.image}}"/>
            </div>
            <p>Owner: {{item.user__username}}</p>
            <p>Date: {{item.date}}</p>
        </div>
    </form>
    {% endfor %}
</div>
{% if images.has_other_pages %}
    <ul class="pagination pagination-sm justify-content-center">
        {% for i in images.paginator.page_range %}
            {% if images.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}