{% extends 'base.html' %}
{% block 'title' %} Pu
blic Profile {% endblock %}
{% block 'header' %}
    {% for item in images|slice:":1" %}
        {{item.user__username}}'s public Images
    {% endfor %}
{% endblock %}
{% block 'content' %}
{% include "search_bar.html" %}
<div class="mainContainer">
    {% if images %}
        {% for item in images %}
        <form action="get">
            <div class="imageCard" onclick="location.href='../image/{{item.image}}';">
                <div class="imageContainer">
                    <img src="/media/{{item.image}}"/>
                </div>
                <br>
                <p>Title: {{item.title}}</p>
                <p>Date: {{item.date}}</p>
            </div>
        </form>
        {% endfor %}
    {% else %}
        <h1 class="noImagesText">No Images Found</h1>
    {% endif %}
</div>
{% if images.has_other_pages %}
    <ul class="pagination pagination-sm justify-content-center">
        {% for i in images.paginator.page_range %}
            {% if images.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}