{% extends 'base.html' %}
{% block 'title' %}Upload{% endblock %}
{% block 'header' %}Upload image{% endblock %}
{% block 'content' %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>You dont have access to this information. You have to login.</p>
    {% endif %}
  {% endif %}
  <div class="container login">
    {% include "messages.html" %}
    <h3>Image</h3><br/>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="image">Image</label>
            <input name="image" type="file" accept=".jpg, .jpeg, .jfif, .pjpeg, .pjp, .png, .svg, .webp" class="form-control" id="image">
        </div>
        <br>
        <label for="description" >Description</label>
        <div class="form-group">
          <textarea name="description" rows="4" cols="26" maxlength="100"></textarea>
        </div>
        <br>
        <div class="form-group">
            <input name="isPrivate" type="checkbox" checked>
            <label for="isPrivate" >Private</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>
  
{% endblock %}