.profileParent{
    display: flex;
}
.profileChild{
    flex: 1;
}
.profileChild#two{
    flex: 1;
    border-left:
    5px solid;
}
.profilePhoto{
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
    border-radius: 15px;
}
.profileInfo{
    display: grid;
}
.profileInfo .detail{
    display: block;
    margin: auto;
}
.imgBtn{
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
.imagesNavBar{
    display: flex;
}
.imagesNavBar form{
    display: block;
    margin: auto;
}
.mainContainer{
    max-width: 100%;
}