body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  }
header{
  text-align: center;
  background: #181818;
  color: white;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 60px;
}
footer{
  text-align: center;
  background: #181818;
  color: white;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.mainContainer{
  max-width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

}
.imageContainer{
  width: auto;
  height: 160px;
}
.imageCard{
  width: 300px;
  margin: 5px;
  border: 2px solid black;
  background: #3C6478;
  border-radius: 15px;
}
.imageContainer img{
  display: block;
  margin: auto;
  border-radius: 12px;
  max-width: 100%;
  max-height: 100%;
}
.imageCard:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.8); 
}
.main{
  margin-bottom: 66px;
}
.headerTitle{
  margin-top: auto;
  margin-bottom: auto;
}
.imageCardText{
  margin: 5px;
  color: white;
}
.imageCardText{
  margin: 5px;
  color: white;
}

.btn-group .button {
  margin-top: 60px;
  background-color: #3C6478;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
}
#second.btn-group{
  margin-left: auto;
}
.btn-group .button.upload {
  left: 45%;
  position: fixed;
}

.btn-group .button:hover {
  background-color: #5b8ea8;
}